<a href="https://colab.research.google.com/github/Sirabhop/Preclinical-AD-EEG-classification/blob/master/Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
import os
import pandas as pd

In [2]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
os.chdir("/content/drive/My Drive/EEG Data")

# **Descriptive Statistics**

####**Demographics**

In [0]:
dict = {'sex': ['male', 'female', 'female', 'female', 'female', 'female', 'female', 'female'],
        'ages':[63, 60, 66, 68, 72, 74, 61, 64],
        'group': [0,1,1,0,1,1,0,0]} #0 = Risk Free, 1 = At risk

In [50]:
df = pd.DataFrame(data = dict)
df

      sex  ages  group
0    male    63      0
1  female    60      1
2  female    66      1
3  female    68      0
4  female    72      1
5  female    74      1
6  female    61      0
7  female    64      0

####**Cognitive Markers**

In [0]:
FCSRT = pd.read_csv('FCSRT.csv')
FCSRT.drop(['id'], inplace = True, axis = 1)
MoCA = pd.read_csv('MoCA.csv')

In [0]:
CogMarkers = pd.concat([df, FCSRT, MoCA[['SUM']]], axis = 1)
CogMarkers.rename(columns = {'SUM':'MoCA'}, inplace = True)
CogMarkers.to_csv('cognitive marker.csv')

In [64]:
CogMarkers

      sex  ages  group  IR-FreeR  IR-CuedR  DL-FreeR  DL-CuedR  MoCA
0    male    63      0         6         8         7         5    21
1  female    60      1         7         5         9         5     7
2  female    66      1        11         4        11         4     9
3  female    68      0        11         4        11         5    22
4  female    72      1        10         4         7         7    12
5  female    74      1         6         4         6         4    15
6  female    61      0         8         7         9         6    20
7  female    64      0        10         5         9         7     6

####**Biomarkers**

In [0]:
features = pd.read_csv('EEG_features.csv')
features.drop(['Unnamed: 0'], inplace = True, axis = 1)