<a href="https://colab.research.google.com/github/Sirabhop/Preclinical-AD-EEG-classification/blob/master/Machine_Learning_Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
import os

In [0]:
#Set working directory and import cookbook
os.chdir("/content/drive/My Drive/Colab Notebooks/")

#Download eeg feature extraction function
%run EEG_Feature_Extraction.ipynb

# **Import Data**

In [0]:
drive.mount('/content/drive')

In [0]:
os.chdir("/content/drive/My Drive/EEG Data")

In [0]:
#Compute EEG feature
subjectID_fif = ['SS1', 'SS2', 'SS3']
df = getDataFrame_fif(subjectID_fif)

subjectID_bdf = ['SS4', 'SS5', 'SS6', 'SS7', 'SS8']
df2 = getDataFrame_bdf(subjectID_bdf)

df = df.append(df2, ignore_index = True)

#Export EEG feature
df.to_csv('EEG_features.csv')

In [0]:
#Import FCSRT & MoCA & Demographic data
FCSRT = pd.read_csv("FCSRT.csv")
FCSRT.drop('id', axis = 1, inplace = True)
MoCA = pd.read_csv("MoCA.csv", usecols = ['SUM'])
EEG = pd.read_csv("EEG_features.csv")

df_original = pd.concat([EEG,FCSRT,MoCA], axis = 1)
df_original.drop(['Unnamed: 0'], inplace = True, axis = 1)
df_original.rename(columns = {'SUM':'MoCA'})
df_original.drop('id', axis = 1, inplace=True)

# **Data Preprocessing**

#### **1) Scaling**

In [0]:
from sklearn import preprocessing

In [56]:
#Min-Max Scaling

scaler = preprocessing.MinMaxScaler()
df_original[df_original.columns] = scaler.fit_transform(df_original[df_original.columns])

df_original

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:375: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:376: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

   PSD_Delta  PSD_Theta  PSD_Alpha  ...  DL-FreeR  DL-CuedR     SUM
0        NaN   0.003081   0.003081  ...       0.2  0.333333  0.9375
1        NaN   0.000267   0.000267  ...       0.6  0.333333  0.0625
2        NaN   0.000495   0.000495  ...       1.0  0.000000  0.1875
3        NaN   1.000000   1.000000  ...       1.0  0.333333  1.0000
4        NaN   0.000302   0.000302  ...       0.2  1.000000  0.3750
5        NaN   0.000000   0.000000  ...       0.0  0.000000  0.5625
6        NaN   0.001848   0.001848  ...       0.6  0.666667  0.8750
7        NaN   0.000046   0.000046  ...       0.6  1.000000  0.0000

[8 rows x 15 columns]

#### **2) Generate Data**

The section below, I've random the value of each feature in order to demonstrate ML model because the situation of *COVID-19* that I cannot continue run the experiment as expected.

In [0]:
for i in range(7, 60):

In [0]:
df_original